<section class='transfer-fund container'>
    <h1>Transfer coins to baruch</h1>
    <form (submit)="onTransferCoins(form)" #form="ngForm">
        <label htmlFor="coins">Amount:</label>
        <input pattern="^[1-9][0-9]*$" required #coins="ngModel" [appCoinsAmount]="user.coins" ngModel value="0" type="text" name="coins"
            id="coins" />
        <p class="errors" *ngIf="coins.invalid && (coins.dirty || coins.touched)">
            <span *ngIf="coins.errors?.['CoinsAmount']">Not enough coins</span>
            <span *ngIf="coins.errors?.['pattern']" >Not valid Amount</span>
        </p>
        <button [disabled]="form.invalid">Transfer</button>
    </form>
</section>