<section *ngIf="contact" class='contact-details container'>
    <div class="details">
        <nav>
            <img routerLink="/contact" src="https://res.cloudinary.com/dgvpl7cdq/image/upload/v1672681669/kthtg5zzlimvlcwqnqty.png"  alt="" />
            <img [routerLink]="['/edit', contact._id]" src="https://res.cloudinary.com/dgvpl7cdq/image/upload/v1672681651/vkrnhgs3np9vetspw4bw.png" alt="" />
        </nav>
        <section>
            <img src="https://res.cloudinary.com/dgvpl7cdq/image/upload/v1672681680/wgbokpxbpqpz0ulpxxof.png" alt="" />
            <div>
                <p>Name: {{ contact.name }}</p>
                <p>Phone: {{ contact.phone }}</p>
                <p>Email: {{ contact.email }}</p>
            </div>
        </section>
    </div>
</section>