.Header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px rgb(223, 217, 217) solid;
    button{
        all: unset;
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.4s;
    }
}

.active {
    background-color: #86bfea !important;
}