.edit-page{
    margin-top: 20px;
    form{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 250px;
        input{
            padding: 7px;
            border-radius: 10px;
        }
        .edit-btn{
            button{
                margin-top: 10px;
                &:not(:last-child){
                    margin-inline-end: 10px;
                }
            }
      
        }
    }
    span{
        color: rgb(176, 91, 91);
    }
}

input.ng-touched.ng-invalid {
    border: 1px solid rgb(176, 91, 91);
}

input.ng-valid[required] {
    border: 1px solid rgb(80, 186, 80);
}